In [21]:
import pandas as pd
import numpy as np
from pandas.core import frame
import glob

In [1]:
countries_inCovlineage = ['Colombia', 'Denmark', 'Lebanon', 'Ecuador', 'Republic_of_the_Congo', 'Netherlands', 'Spain', 'Slovenia', 
                          'Papua_New_Guinea', 'Slovakia', 'Pakistan', 'Burkina_Faso', 'Romania', 'Greece', 'Switzerland', 'Equatorial_Guinea',
                          'Saudi_Arabia', 'Iraq', 'Oman', 'Aruba', 'Kenya', 'Ghana', 'Chile', 'Portugal', 'Uruguay', 'Qatar', 'Macedonia', 
                          'New_Zealand', 'Luxembourg', 'Sierra_Leone', 'Brazil', 'Bulgaria', 'Thailand', 'Italy', 'Iran', 'Saint_Vincent_and_the_Grenadines', 
                          'France', 'Tunisia', 'Maldives', 'Zambia', 'Czech_Republic', 'Gambia', 'Taiwan', 'Vietnam', 'Malaysia', 'Peru', 'Sweden', 'Rwanda', 
                          'Hong_Kong', 'Poland', 'Morocco', 'Mozambique', 'Laos', 'Estonia', 'India', 'Suriname', 'Japan', 'Philippines', 'Trinidad_and_Tobago', 
                          'Fiji', 'Lithuania', 'Latvia', 'Austria', 'Kuwait', 'Mauritius', 'Kazakhstan', 'Martinique', 'Indonesia', "Cote_d'Ivoire", 
                          'French_Guiana', 'Bahrain', 'Turkey', 'South_Korea', 'Panama', 'Egypt', 'Ireland', 'Senegal', 'China', 'Costa_Rica', 'Canada', 
                          'Uganda', 'United Kingdom', 'United_Arab_Emirates', 'Sri_Lanka', 'Russia', 'Bonaire', 'Singapore', 'Nigeria', 'Angola', 'Finland', 
                          'Mexico', 'Gibraltar', 'Australia', 'Mayotte', 'Reunion', 'Brunei', 'Democratic Republic of the Congo', 'Botswana', 'Belgium', 'Bangladesh', 
                          'Canary_Islands', 'Germany', 'Norway', 'Iceland', 'Cura√ßao', 'Jordan', 'Nicaragua', 
                          'Hungary', 'Israel', 'Argentina', 'Croatia', 'Solomon_Islands', 'United States of America', 'South_Africa']

In [3]:
countries_inOwid = ['Djibouti','Gambia','Egypt','Kenya','Seychelles','Nigeria','South Africa','Tunisia',
                     'Bahrain','Japan','Lebanon','Thailand','Vietnam','Iran','India','Bangladesh','Hong Kong',
                     'Denmark','France','Germany','Iceland','Slovakia','Switzerland','Italy','Estonia','Poland','United Kingdom',
                     'Mexico','United States','Canada',
                     'New Zealand',
                     'Brazil','Chile','Colombia','Paraguay']

In [4]:
country_forSeq = [value for value in countries_inOwid if value in countries_inCovlineage] 
print(len(country_forSeq))
print(country_forSeq)

28
['Gambia', 'Egypt', 'Kenya', 'Nigeria', 'Tunisia', 'Bahrain', 'Japan', 'Lebanon', 'Thailand', 'Vietnam', 'Iran', 'India', 'Bangladesh', 'Denmark', 'France', 'Germany', 'Iceland', 'Slovakia', 'Switzerland', 'Italy', 'Estonia', 'Poland', 'United Kingdom', 'Mexico', 'Canada', 'Brazil', 'Chile', 'Colombia']

### Data resource: https://www.ncbi.nlm.nih.gov/labs/virus/vssi/#/

#### Parameters Setting
- Collection Date: `From Jan 1,2021 To Dex 31, 2023`
- Geographic Region: the 28 countries in list `country_forSeq`
- Nucleotide Completeness: `complete`

In [19]:
def dropDuplicateSeq(f_path):
    df = pd.read_csv(f_path)
    df = df[['Accession', 'Pangolin', 'Length','Country', 'Collection_Date']]
    df['Year'] = pd.DatetimeIndex(df['Collection_Date']).year
    df['Month'] = pd.DatetimeIndex(df['Collection_Date']).month
    df['Day'] = pd.DatetimeIndex(df['Collection_Date']).day
    # for duplicated pangolin, keep the lengest one
    df.sort_values('Length', ascending=False)
    df = df.drop_duplicates(subset = ['Pangolin','Country', 'Year','Month'], keep = 'first')
    return df

In [27]:
def preprocessConcat(path):
    list_files = glob.glob(path + "/*.csv")
    li = []

    for filename in list_files:
        df = dropDuplicateSeq(filename)

        li.append(df)
    return pd.concat(li, axis=0, ignore_index=True)

In [28]:
path = "../Data/NCBI_virus/nucleotide/1"
df_nucleo1 = preprocessConcat(path)

In [29]:
df_nucleo1

    Accession   Pangolin  Length     Country Collection_Date  Year  Month  Day
0    ON974872    BA.2.10   29785  Bangladesh      2022-01-27  2022      1   27
1    ON909199  B.1.617.2   29799  Bangladesh      2021-07-07  2021      7    7
2    ON909203     AY.122   29807  Bangladesh      2021-07-13  2021      7   13
3    ON810538       BA.2   29823  Bangladesh      2022-01-27  2022      1   27
4    ON810539  BA.2.10.1   29810  Bangladesh      2022-01-27  2022      1   27
..        ...        ...     ...         ...             ...   ...    ...  ...
909  MW737421       B.35   29816        Iran      2020-02-11  2020      2   11
910  MT994849      B.4.6   29819        Iran      2020-05-01  2020      5    1
911  MT994286        B.4   29794        Iran      2020-05-01  2020      5    1
912  MT889692    B.1.210   29800        Iran      2020-05-01  2020      5    1
913  MT447177        B.4   29793        Iran      2020-03-26  2020      3   26

[914 rows x 8 columns]

In [30]:
path = "../Data/NCBI_virus/nucleotide/2"
df_nucleo2 = preprocessConcat(path)
df_nucleo2

     Accession Pangolin  Length   Country Collection_Date  Year  Month  Day
0     OP722492   BA.5.1   29746   Denmark      2022-07-11  2022      7   11
1     OP722493  BA.2.23   29752   Denmark      2022-04-24  2022      4   24
2     OP271296     BA.1   29775   Denmark      2021-12-15  2021     12   15
3     OP271297    AY.42   29777   Denmark      2021-07-21  2021      7   21
4     ON809567        B   29862   Denmark         2020-04  2020      4    1
...        ...      ...     ...       ...             ...   ...    ...  ...
1578  OP303177  AY.25.1   29805  Colombia      2021-12-12  2021     12   12
1579  OP303178   BA.1.1   29786  Colombia      2022-02-12  2022      2   12
1580  OP303179     BA.2   29764  Colombia      2022-06-09  2022      6    9
1581  MT470219      B.1   29903  Colombia      2020-04-02  2020      4    2
1582  MT256924      A.5   29782  Colombia      2020-03-11  2020      3   11

[1583 rows x 8 columns]

In [40]:
path = "../Data/NCBI_virus/nucleotide/3"
df_nucleo3 = preprocessConcat(path)
df_nucleo3

/Users/wanlin/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Accession,Pangolin,Length,Country,Collection_Date,Year,Month,Day
0,OX459158,XBB.1.5,29837,United Kingdom,2022-11-24,2022,11,24
1,OX458244,BF.14,29849,United Kingdom,2022-11-25,2022,11,25
2,OX458246,CM.2,29853,United Kingdom,2022-11-24,2022,11,24
3,OX456703,CH.1.1.1,29854,United Kingdom,2022-12-30,2022,12,30
4,OX449230,BQ.1.1.15,29851,United Kingdom,2022-12-30,2022,12,30
...,...,...,...,...,...,...,...,...
3605,FR998580,B.59,29782,United Kingdom,2020-05-18,2020,5,18
3606,HG998706,B.1.160.10,29903,United Kingdom,2020-12-04,2020,12,4
3607,HG999243,B.1.177.72,29903,United Kingdom,2020-11-20,2020,11,20
3608,HG996834,B.1.1.289,29903,United Kingdom,2020-04-29,2020,4,29
3609,MW059036,A,29846,United Kingdom,2020-01-29,2020,1,29

In [37]:
path = "../Data/NCBI_virus/nucleotide/4"
df_nucleo4 = preprocessConcat(path)
df_nucleo4

,Accession,Pangolin,Length,Country,Collection_Date,Year,Month,Day
0,OQ050229,AY.43,29806,Switzerland,2021-12-09,2021,12,9
1,ON982605,AY.4,29817,Switzerland,2021-12-14,2021,12,14
2,ON982607,B.1.617.2,29842,Switzerland,2021-12-09,2021,12,9
3,ON982612,AY.129,29824,Switzerland,2021-11-16,2021,11,16
4,ON209723,B.1.1.323,29836,Switzerland,2020-04-15,2020,4,15
...,...,...,...,...,...,...,...,...
1209,MW127515,B.1.1.277,29901,Poland,2020-09-05,2020,9,5
1210,MT775827,B,29858,Poland,2020-03-28,2020,3,28
1211,MT775832,B.1.91,29891,Poland,2020-04-17,2020,4,17
1212,MT511068,B.1.1,29903,Poland,2020-03-31,2020,3,31
1213,MT511073,B.1.153,29903,Poland,2020-04-01,2020,4,1

In [51]:
# Sequenceing data in USA has one more column for state info
def dropDuplicateSeq_USA(f_path):
    df = pd.read_csv(f_path)
    df = df[['Accession', 'Pangolin', 'Length','USA','Collection_Date']]
    df['Year'] = pd.DatetimeIndex(df['Collection_Date']).year
    df['Month'] = pd.DatetimeIndex(df['Collection_Date']).month
    df['Day'] = pd.DatetimeIndex(df['Collection_Date']).day
    df['Country'] = 'USA'
    df.rename(columns = {'USA':'State'}, inplace = True)
    # for duplicated pangolin, keep the lengest one
    df.sort_values('Length', ascending=False)
    df = df.drop_duplicates(subset = ['Pangolin','State', 'Year','Month'], keep = 'first')
    return df
def preprocessConcat_USA(path):
    list_files = glob.glob(path + "/*.csv")
    li = []

    for filename in list_files:
        df = dropDuplicateSeq_USA(filename)

        li.append(df)
    return pd.concat(li, axis=0, ignore_index=True)

In [52]:
path = "../Data/NCBI_virus/nucleotide/USA"
df_nucleo_USA = preprocessConcat_USA(path)
df_nucleo_USA

,Accession,Pangolin,Length,State,Collection_Date,Year,Month,Day,Country
0,OQ436668,BQ.1.14,29763,SD,2022-12-15,2022,12,15,USA
1,OQ436672,BQ.1.3,29763,SD,2022-12-09,2022,12,9,USA
2,OQ436680,BQ.1.1.28,29747,SD,2022-12-12,2022,12,12,USA
3,OQ436698,BQ.1.1.43,29762,SD,2022-12-03,2022,12,3,USA
4,OQ436702,BA.5.2.3,29762,SD,2022-11-17,2022,11,17,USA
...,...,...,...,...,...,...,...,...,...
2846,MW190249,B.1,29782,ID,2020-03-17,2020,3,17,USA
2847,MW190251,A.1,29782,ID,2020-03-17,2020,3,17,USA
2848,MW190466,B.1.199,29782,ID,2020-03-17,2020,3,17,USA
2849,MT461631,B.1,29859,ID,2020-04-02,2020,4,2,USA
2850,MT358709,B.30,29834,ID,2020-03-26,2020,3,26,USA

In [53]:
# save datasets
df_nucleo1.to_csv("../Data/NCBI_virus/nucleotide_1.csv", index=False)

In [54]:
df_nucleo2.to_csv("../Data/NCBI_virus/nucleotide_2.csv", index=False)

In [55]:
df_nucleo3.to_csv("../Data/NCBI_virus/nucleotide_3.csv", index=False)

In [56]:
df_nucleo4.to_csv("../Data/NCBI_virus/nucleotide_4.csv", index=False)

In [57]:
df_nucleo_USA.to_csv("../Data/NCBI_virus/nucleotide_USA.csv", index=False)

## For protein sequenceing data

In [ ]:
# Protein data  has one more column for protein name

def dropDuplicateSeq(f_path):
    df = pd.read_csv(f_path)
    df = df[['Accession', 'Pangolin', 'Length','Country', 'Collection_Date']]
    df['Year'] = pd.DatetimeIndex(df['Collection_Date']).year
    df['Month'] = pd.DatetimeIndex(df['Collection_Date']).month
    df['Day'] = pd.DatetimeIndex(df['Collection_Date']).day
    # for duplicated pangolin, keep the lengest one
    df.sort_values('Length', ascending=False)
    df = df.drop_duplicates(subset = ['Pangolin','Country', 'Year','Month'], keep = 'first')
    return df

def preprocessConcat(path):
    list_files = glob.glob(path + "/*.csv")
    li = []

    for filename in list_files:
        df = dropDuplicateSeq(filename)

        li.append(df)
    return pd.concat(li, axis=0, ignore_index=True)

In [ ]:
f_path = "../Data/NCBI_virus/aa/USA"

In [ ]:
# Sequenceing data in USA has one more column for state info
def dropDuplicateSeq_USA_protein(f_path):
    df = pd.read_csv(f_path)
    df = df[['Accession', 'Pangolin', 'Length','USA','Collection_Date']]
    df['Year'] = pd.DatetimeIndex(df['Collection_Date']).year
    df['Month'] = pd.DatetimeIndex(df['Collection_Date']).month
    df['Day'] = pd.DatetimeIndex(df['Collection_Date']).day
    df['Country'] = 'USA'
    df.rename(columns = {'USA':'State'}, inplace = True)
    # for duplicated pangolin, keep the lengest one
    df.sort_values('Length', ascending=False)
    df = df.drop_duplicates(subset = ['Pangolin','State', 'Year','Month'], keep = 'first')
    return df
def preprocessConcat_USA_protein(path):
    list_files = glob.glob(path + "/*.csv")
    li = []

    for filename in list_files:
        df = dropDuplicateSeq_USA_protein(filename)

        li.append(df)
    return pd.concat(li, axis=0, ignore_index=True)